@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  
  @layer components {
    .card-container-transition {
      @apply transform flex flex-col justify-end items-center rounded-3xl transition-all duration-700 hover:scale-105 m-3;
    }
  
    .card-transition {
      @apply relative inset-0 transform rounded-3xl object-cover;
    }
  
  
    .card-text {
      @apply pointer-events-none relative text-orange-200 ;
    }
  
    .btn {
      @apply w-32 uppercase text-xs bg-orange-100 text-orange-900 hover:bg-orange-300 transition-all duration-500;
    }
  }
  