@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    #payment-form {
      width: 32rem;
      display: flex;
      flex-direction: column;
      margin: 5rem auto;
    }

    #transition-button {
      width: 30rem;
      margin: 2rem auto
    }

    #checkout-cart-scroll {
      height: 23rem;
      overflow-y: auto;
      
    }
  }
  
  @layer components {
    .card-container-transition {
      @apply flex flex-col items-center justify-end m-3 transition-all duration-700 transform rounded-3xl hover:scale-105;
    }
  
    .card-transition {
      @apply relative inset-0 object-cover transform rounded-3xl;
    }
  
  
    .card-text {
      @apply relative text-orange-200 pointer-events-none ;
    }
  
    .btn {
      @apply w-32 text-xs text-orange-900 uppercase transition-all duration-500 bg-orange-100 hover:bg-orange-300;
    }
  }

  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }